[engine-conf]
	listen		= localhost
	port		= 32337
	pidfile		= /var/run/gds.pid
	logfile		= /var/log/gds.log
	git-deployer	= /home/git-deployer/git-deployer.pl
	git 		= /usr/bin/git
	mysql 		= /usr/bin/mysql
	error_file	= /tmp/git-deploy.err
	smtp		= smtp.example.com

[git-deploy]
        branch = master
        depth = 1
        user = git
        server = github.com
        git_project = git-deploy/git-deploy.git

        local_project_path = /home/test
	contact	= deploywatcher@example.com

        db_host = mydatabase
        db_port = 3306
        db_name = gitdeploy
        db_user = gitdeploy
        db_pass = gitdeploy_secret

	sysuser = git

[end]
