[engine-conf]
	git 		= /usr/bin/git
	mysql 		= /usr/bin/mysql
	error_file	= /tmp/git-deploy.err
	smtp		= mx.redcube.fr

[git-deploy]
        branch = master
        depth = 1
        user = git
        server = git.netemedia.fr
        git_project = git-deploy/git-deploy.git

        local_project_path = /home/test
	contact	= gs@omegacube.fr

        db_host = dbs.redcube.fr
        db_port = 3306
        db_name = gitdeploy
        db_user = gitdeploy
        db_pass = @gitdeploy_secret@


