# Config file sample for Git-Deployer v1.3
[engine-conf]
	hostname	= MyHostname
	listen		= localhost
	port		= 32337
	pidfile		= /var/run/gds.pid
	logfile		= /var/log/gds.log
	git-deployer	= /home/Git-Deployer/git-deploy.pl
	git 		= /usr/bin/git
	mysql 		= /usr/bin/mysql
	error_file	= /tmp/git-deploy.err
	debug_mode	= off
	smtp		= smtp.example.com
	smtp_from	= sender@example.com
	### SMTP authentication and protocol : NONE|CLASSIC|TLS|SSL, default none
	# smtp_method	= CLASSIC
	# smtp_port	= 465 (default 25)
	# smtp_user	= myusername
	# smtp_pass	= mystrongpassword

[git-deploy/master]
	depth = 1  
	git_project = git://github.com/DrGkill/Git-Deployer.git
	# Can also work with SSH connection:
	# git_project = git@github.com:DrGkill/Git-Deployer.git

	local_project_path = /home/test
	contact	= deploywatcher@example.com

	db_host = mydatabase
	db_port = 3306
	db_name = gitdeploy
	db_user = gitdeploy
	db_pass = gitdeploy_secret

	WPscripts = off
	SetPerm = off
	
	reset_hard = on

	sysuser = git

[end]
