[git-deploy]
        branch = master
        depth = 1
        user = git
        server = git.netemedia.fr
        git_project = git-deploy/git-deploy.git

        local_project_path = /home/test

        db_host = dbs.redcube.fr
        db_port = 3306
        db_name = gitdeploy
        db_user = gitdeploy
        db_pass = @gitdeploy_secret@

[test]
        branch = master
        depth = 1
        user = git
        server = git.netemedia.fr
        git_project = test/test.git

        local_project_path = /home/test2

        db_host = dbs.redcube.fr
        db_port = 3306
        db_name = test
        db_user = test
        db_pass = @toto@

